<%= form_for(bed_type) do |f| %>
  <% if bed_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bed_type.errors.count, "error") %> prohibited this bed_type from being saved:</h2>

      <ul>
      <% bed_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bed_type_name %>
    <%= f.text_field :bed_type_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
