<p id="notice"><%= notice %></p>

<h1>Bed Types</h1>

<table>
  <thead>
    <tr>
      <th>Bed type name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bed_types.each do |bed_type| %>
      <tr>
        <td><%= bed_type.bed_type_name %></td>
        <td><%= link_to 'Show', bed_type %></td>
        <td><%= link_to 'Edit', edit_bed_type_path(bed_type) %></td>
        <td><%= link_to 'Destroy', bed_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bed Type', new_bed_type_path %>
