<%= form_for(room_facility) do |f| %>
  <% if room_facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_facility.errors.count, "error") %> prohibited this room_facility from being saved:</h2>

      <ul>
      <% room_facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id %>
    <%= f.number_field :room_id %>
  </div>

  <div class="field">
    <%= f.label :facility_id %>
    <%= f.number_field :facility_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
