<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @room_facility.room_id %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @room_facility.facility_id %>
</p>

<%= link_to 'Edit', edit_room_facility_path(@room_facility) %> |
<%= link_to 'Back', room_facilities_path %>
