<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_type_id %>
    <%= f.number_field :room_type_id %>
  </div>

  <div class="field">
    <%= f.label :bed_type_id %>
    <%= f.number_field :bed_type_id %>
  </div>

  <div class="field">
    <%= f.label :bath_type_id %>
    <%= f.number_field :bath_type_id %>
  </div>

  <div class="field">
    <%= f.label :accommodates %>
    <%= f.number_field :accommodates %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :room_name %>
    <%= f.text_field :room_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
