<%= form_for(m_city) do |f| %>
  <% if m_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(m_city.errors.count, "error") %> prohibited this m_city from being saved:</h2>

      <ul>
      <% m_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pref_id %>
    <%= f.number_field :pref_id %>
  </div>

  <div class="field">
    <%= f.label :city_name %>
    <%= f.text_field :city_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
